config.yaml
__pycache__/
/.vscode
heat_battery.egg*
/heat_battery_temp
/miscellaneous
/structured_test
/bin
/data
trial*
.coverage
*.msh
*.ad
*.stp
*.csv

# ignore Example_05 it is not completed
examples/Example_0*/data*
examples/Example_0*/meshes*
examples/Example_0*/results*

# ignore cloc data
!/assets/cloc/line_count_cache.csv
