config.yaml
__pycache__/
/.vscode
heat_battery.egg*
/heat_battery_temp
/miscellaneous
/structured_test
/bin
/data
trial*
.coverage
*.msh
*.ad
*.stp
*.csv

# ignore Example_05 it is not completed
/examples/Example_05
/examples/Example_06

# ignore cloc data
!/assets/cloc/line_count_cache.csv
