results/
paraview/
__pycache__/
videos/
miscellaneous/
/literature
/meshes
/fmu
/fenicsx
/data
/file_system_backend
/.vscode
/jupyter_lab
/examples/Example_05*
trial*
heat_battery.egg*
*.msh
*.ad
*.fmu
*.prof